@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background: #000;
    height: 100vh;
}

.body {
    padding-top: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.836) 0%, rgba(255, 255, 255, 0) 100%), url(https://cdn.discordapp.com/attachments/935768145120100432/1047413609724133397/Zone.png);
}

.body-2 {
    background: linear-gradient(#000 0%, #2e2e2e 100%);
}

.contain {
    background-repeat: repeat;
    background: #111;
    margin: 25px;
}

.nameSite h1 {
    padding: 15px;
    text-align: center;
}

.game-info {
    margin: 10px;
    text-align: center;
    font-size: 35px;
}

.img {
    width: 1000px;
    display: block;
    margin: 20px auto;
 }

.infgame p {
    border-left: 6px solid #444;
    background-color: #333;
    padding: 5px 0px 5px 10px;
    font-size: 17.5px;
}

.end {
    font-size: 10px;
    background: #222;
    text-align: center;
    width: 100%;
}

.hr {
    color: #fff;
    background: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-right: 2.5px;
 }

 select, option, textarea, input {
    border: none;
    background: #444;
    padding: 10px;
    margin-left: 25px;
    width: 250px;
}

input {
    margin-bottom: 20px;
}

input#file-upload-button {
    border: none;
    background: #444;
    padding: 10px;
    margin-left: 25px;
}

select:hover, textarea:hover, input:hover {
    border: none;
    color: #ffff98;
    background: #393939;
    transition: all .5s;
}

a:hover {
    color: #ffff98;
    transition: all .5s;
}

.main-information {
    margin: 0 25px;
    background: #222;
}

.Dop_Game_Info {
    padding: 25px;
}

.Dop_Game_Info h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.CATEGORY h3 {
    font-size: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.CATEGORY hr {
    display: block;
    margin: 15px auto;
    width: 90%;
    align-items: center;
    border: none;
}

.AES {
    border: 1px solid #333;
}

.foot_text p {
    margin-bottom: 5px;
}

.end-content {
    padding: 5px;
}

.foot_text p:last-child {
    margin-bottom: 0;
}

.CATEGORY li {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

.Operation h3 {
    margin-top: 50px;
}

.AES-hr {
    width: 75%;
    display: block;
    margin: 0 auto;
}

h1.helpTP {
    margin-left: 25px;
    margin-top: 10px;
}

.body a {
    justify-content: right;
}

.help-tp {
    margin: 0 15px;
    border: 2px solid #444;
    background: url(https://media.discordapp.net/attachments/935768145120100432/1047919119556677632/Base_NewMenu_2024_3.png?width=840&height=473);
    padding: 10px;
}

.help-h3 {
    margin-left: 25px;
}

.Information-PvP h3 {
    font-size: 20px;
}

.Information-PvP div p {
    font-size: 15px;
}

ul#footer {
    display: flex;
    text-align: left;
    font-size: 20px;
}

ul#footer h4 {
    color: #5f5f5f;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}

ul#links-social li {
    width: 150px;
    padding: 5px 10px;
    border: 1px solid #111;
    background: #333;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

ul#links-social li.DISCORD:hover {
    background: #605dec;
    transition: all .5s;
    border: 1px solid #fff;
}

ul#links-social li.VK:hover {
    background: #0058bd;
    transition: all .5s;
    border: 1px solid #fff;
}

ul#links-social li.YouTube:hover {
    background: #ff0000;
    transition: all .5s;
    border: 1px solid #fff;
}

.Error h3 {
    font-size: 50px;
    color: #fdfdfd;
    text-align: center;
    opacity: 50%;
}

.Error p {
    font-size: 50px;
    color: #fdfdfd;
    text-align: center;
    margin-top: 10px;
    opacity: 50%;
}

.Error {
    background: linear-gradient(45deg, #ff000033 0%, #ff000066 100%);
    border: 1px solid #000;
    margin: 15px;
    padding: 25px;
}

.img-error {
    display: block;
    width: 1000px;
    margin: 0 auto;
    opacity: 50%;
}

.btn-error {
    width: 100%;
    padding: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.Back-btn {
    text-align: center;
    cursor: pointer;
    background: #ff000065;
    padding:  25px 100px;
    border: 1px solid #000;
}

.Back-btn:hover {
    transition: all .25s;
    background: #ff0000aa;
}

.name-page {
    margin: 20px auto;
    text-align: center;
    font-size: 45px;
}